/* Next version to utilize Canvas API */

/* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
    
  body {
    background-color: rgba(36, 68, 90, 0.856);
    text-align: center;
  }
  
  #game-container {
    width: 40vw;
    height: 40vh;
    margin: 1vw auto;
    background-color: rgb(0, 0, 0);
    border: solid 10px rgba(36, 10, 39, 0.904);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
  }

  .gameboard-pixel {
    width: 1vw;
    height: 1vh;
    border-radius: 10px;
    float: left;
    /* outline: 1px solid red; */
  }

  .food {
    background-color: rgb(207, 72, 72);
    box-shadow: 0 0 12px #f3b4b4;
  }

  .snake-body-pixel {
    background-color: rgb(44, 143, 11);
    box-shadow: 0 0 2px rgb(147, 187, 134);
  }

  #score-container {
    width: 40vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
  }

  .scoreboard {
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    border: solid 5px rgb(77, 117, 226);
    color: #fff;
    background-color: #000;
    display: inline-block;
    padding: 5px;
    width: 48%;
    box-shadow: 0px 0px 7px 1px rgb(0, 0, 0);
  }

  /* Grid for onscreen controls! */

  #onscreen-controls {
    display: none;
  }

  @media only screen and (max-width: 786px) {
    #game-container {
      width: 80vw;
      height: 80vh;
    }

    .gameboard-pixel {
      width: 2vw;
      height: 2vh;
    }

    #score-container {
      width: 80vw;
    }

    #onscreen-controls {
      width: 80vw;
      margin: 5vw auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #onscreen-controls button {
      background-color: transparent;
      /* width: 20vw;
      height: 20vh; */
      font-size: 10vw;
      padding: 0;
      margin: 0;
      border: none;
    }

    #onscreen-controls button:focus {
      outline: none;
    }

    #onscreen-controls button:active {
      box-shadow: 0px 0px 10px rgba(54, 127, 175, 0.856);
    }
  }